.Register {
    padding: 20px 0px 20px 0px;
}

.Register Form, .edit-car-form{
    margin: 0 auto;
    max-width: 320px;
}

.Register .btn {
    display: block;
    width: 100%;
}

.RegisterHeader, .CarHeader{
    margin: 0 auto;
    max-width: 320px;
    padding: 0 0 20px;
}

.alert {
    max-width: 330px;
    margin: 0 auto;
}

tbody {
    cursor: pointer;
}